.main {
    display: flex;
}

.noassignments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.noassignmentslogo {
    width: 70px;
}

.assignmentcontainer {
    list-style: none;
}