.main {
  display: flex;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.noassignments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 95vw;
}

.noassignmentslogo {
  width: 70px;
}

.assignmentcontainer {
  list-style: none;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.addassignment {
  color: white;
  background-color: lightskyblue;
  border-width: 1px;
  border-radius: 5px;
  border-color: skyblue;
  border-style: solid;
  width: 130px;
  height: 30px;
}

.addassignment:hover {
  cursor: pointer;
}
