.main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.card {
  width: 300px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.submit {
  width: 200px;
  height: 30px;
  margin: 8px;
  background-color: #4caf50;
  border-color: transparent;
  border-radius: 13px;
  color: white;
  font-size: large;
}

.submit:hover {
  cursor: pointer;
}

.textbox {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 7px;
}

.authform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 5px;
  font-size: xx-large;
  font-weight: bold;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.typecard {
  font-size: 21px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
}

.typeinput {
  display: none;
}

.typecard:hover {
  cursor: pointer;
}

.typeinput:checked + .typecard {
  background-color: #4caf50;
}

.typeinput:not(:checked) + .typecard {
  background-color: rgb(100 100 100);
}

.logo {
  width: 96px;
  height: 108px;
  margin: -40px;
}

.operationlabel {
  margin-bottom: -20px;
}

.alternative {
  text-decoration: underline;
}

.alternative:hover {
  cursor: pointer;
}
