.assignmententry {
    display: flex;
}

.assignmentlogo {
    width: 25px;
    height: auto;
    margin: 5px;
}

.assignmentcontainer {
    display: flex;
    border: 0.1px solid #d3d3d3;
    width: 90vw;
}

.assignmentdetails {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 0px;
    font-weight: bold;
}

.description {
    margin: 0px;
}

.duedate {
    margin: 0px;
    font-size: small;
}