.main {
    display: flex;
    flex-direction: row;
}

.page {
    margin-left: 35px;
    width: 90vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit {
    width: 200px;
    height: 30px;
    margin: 8px;
    background-color: #4caf50;
    border-color: transparent;
    border-radius: 13px;
    color: white;
    font-size: large;
}

.submit:hover {
    cursor: pointer;
}