.main {
  display: flex;
  flex-direction: row;
}

.page {
  width: 90vw;
  margin-left: 35px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.addstudent {
  color: white;
  background-color: lightskyblue;
  border-width: 1px;
  border-radius: 5px;
  border-color: skyblue;
  border-style: solid;
  width: 90px;
  height: 30px;
}

.addstudent:hover {
  cursor: pointer;
}
