.announcemententry {
  display: flex;
  border-left: 0.1px solid #d3d3d3;
  border-right: 0.1px solid #d3d3d3;
  border-top: 0.1px solid #d3d3d3;
  padding: 3px;
}

.announcemententry:last-child {
  border-bottom: 0.1px solid #d3d3d3;
}

.announcemententry:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.announcementlogo {
  width: 25px;
  height: auto;
  margin: 5px;
}

.announcementcontainer {
  display: flex;
  width: 90vw;
}

.announcementdetails {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  margin: 0;
  font-weight: bold;
}

.content {
  margin: 0;
}

.date {
  margin: 0;
  font-size: small;
}
