.main {
  display: flex;
  flex-direction: row;
}

.page {
  margin-left: 35px;
  width: 80vw;
}

.textbox {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 7px;
}

.assignmentform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 5px;
  font-size: xx-large;
  font-weight: bold;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.files {
  width: 500px;
  height: 250px;
  border: 1px;
  border-style: dashed;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(95 156 194);
}

.files:hover {
  cursor: pointer;
}

.filelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgb(95 156 194);
  width: 475px;
  height: fit-content;
  border-radius: 8px;
}

.submit {
  width: 200px;
  height: 30px;
  margin: 8px;
  background-color: #4caf50;
  border-color: transparent;
  border-radius: 13px;
  color: white;
  font-size: large;
}

.submit:hover {
  cursor: pointer;
}
