.coursecard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 7px;
}

.coursecard:hover {
  cursor: pointer;
}

.coursecardheader {
  width: 200px;
  height: 100px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.coursename {
  padding-left: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

.coursesemester {
  margin-top: 0px;
  padding-left: 10px;
  font-size: 12px;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.icon {
  width: 20px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.icon:hover {
  cursor: pointer;
}
